*.o
*.so
*.so.[0-9]*
*.a
*~
#*#
.#*
build
build_temp
bin
*.obj
BuildLog.htm
*.user
*.idb
*.pdb
*.ipch
.vs
*.tlog
*.ncb
*.suo
*.map
*.ilk
*.htm
*.lib
*.exe
*.dep
*.exp
*_Debug
*_Release
Backup/
Backup1/
